<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<welcome-file-list>
		<welcome-file>welcome.jsp</welcome-file>
	</welcome-file-list>
	
	<servlet>
    <servlet-name>datesort</servlet-name>
    <servlet-class>com.adnan.JsonDateSortServlet</servlet-class>
    </servlet>

    <servlet-mapping>
    <servlet-name>datesort</servlet-name>
    <url-pattern>/datesort</url-pattern>
    </servlet-mapping>
    
	
	
	
	
	
	
	
	
	<servlet>
    <servlet-name>searchac</servlet-name>
    <servlet-class>com.adnan.SearchStreamServletAC</servlet-class>
    </servlet>

    <servlet-mapping>
    <servlet-name>searchac</servlet-name>
    <url-pattern>/searchac</url-pattern>
    </servlet-mapping>
    
    <servlet>
    <servlet-name>geojson</servlet-name>
    <servlet-class>com.adnan.GeoJsonServlet</servlet-class>
    </servlet>

    <servlet-mapping>
    <servlet-name>geojson</servlet-name>
    <url-pattern>/geojson</url-pattern>
    </servlet-mapping>
    
    
    
    
    
    
    
    <servlet>
    <servlet-name>emailService</servlet-name>
    <servlet-class>com.adnan.EmailServiceImpl</servlet-class>
    </servlet>

    <servlet-mapping>
    <servlet-name>emailService</servlet-name>
    <url-pattern>/cronexample</url-pattern>
    </servlet-mapping>
    
    
    
    
    
    
    
    
    <servlet>
		<servlet-name>del</servlet-name>
		<servlet-class>com.adnan.DeleteStreamServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>del</servlet-name>
		<url-pattern>/delete</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>sub</servlet-name>
		<servlet-class>com.adnan.SubscribeStreamServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>sub</servlet-name>
		<url-pattern>/subscribe</url-pattern>
	</servlet-mapping>
	

	
	<servlet>
		<servlet-name>css</servlet-name>
		<servlet-class>com.adnan.CreateStreamServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>css</servlet-name>
		<url-pattern>/createStreamServlet</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>edit</servlet-name>
		<servlet-class>com.adnan.EditCoverServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>edit</servlet-name>
		<url-pattern>/EditCoverServlet</url-pattern>
	</servlet-mapping>
	

	
	
	
	
	
		<servlet>
		<servlet-name>SearchStream</servlet-name>
		<servlet-class>com.adnan.SearchStreamServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>SearchStream</servlet-name>
		<url-pattern>/SearchStreamServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>TrendingForm</servlet-name>
		<servlet-class>com.adnan.TrendingFormServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>TrendingForm</servlet-name>
		<url-pattern>/TrendingFormServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>EmailSubForm</servlet-name>
		<servlet-class>com.adnan.EmailSubServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>EmailSubForm</servlet-name>
		<url-pattern>/EmailSubServlet</url-pattern>
	</servlet-mapping>
	
	
	
	
	<servlet>
		<servlet-name>TrendStream</servlet-name>
		<servlet-class>com.adnan.TrendingStreamServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>TrendStream</servlet-name>
		<url-pattern>/TrendingStream</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>EmailStream</servlet-name>
		<servlet-class>com.adnan.EmailServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>EmailStream</servlet-name>
		<url-pattern>/Email</url-pattern>
	</servlet-mapping>
	
	
	
	
	
	
	
	
	
	<servlet>
		<servlet-name>Adnan</servlet-name>
		<servlet-class>com.adnan.AdnanServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Adnan</servlet-name>
		<url-pattern>/adnan</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>imageuploadtest</servlet-name>
		<servlet-class>com.adnan.ImageUploadTestServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>imageuploadtest</servlet-name>
		<url-pattern>/imageuploadtest</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>blobuploadtest</servlet-name>
		<servlet-class>com.adnan.BlobUploadTest</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>blobuploadtest</servlet-name>
		<url-pattern>/blobuploadtest</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Upload</servlet-name>
		<servlet-class>com.adnan.Upload</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>Serve</servlet-name>
		<servlet-class>com.adnan.Serve</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Upload</servlet-name>
		<url-pattern>/upload</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>Serve</servlet-name>
		<url-pattern>/serve</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>ObjectifyFilter</filter-name>
		<filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>ObjectifyFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
		
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	

</web-app>
